mixin panel-input(options)
  if !options
    - const options = {}

  -
    const {
      type,
      text,
      option
    } = options;

  .panel__item
    label.panel__label(
      class=`${(type === "number") ? '' : 'panel__label_checkbox'}`
    )
      .panel__text=text
      input(
        class=`${(type === "number") ? 'panel__input' : 'panel__checkbox'} panel__input_${option} js-panel__input_${option}`
        type=type 
        data-option=option)
